{% extends 'job_offer/base.html' %}
{% block container %}

<main class="container mt-3 pb-5">
  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <aside class="pt-3 pb-4 px-4 mb-5 card">
        <h1 class="h4 pt-2 pb-2">Моя компания</h1>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" href="{% url 'mycompany' %}">1. Информация о&nbsp;компании</a>
          <a class="nav-link active" href="{% url 'mycompany_all_vacancies' %}">2. Вакансии</a>
        </div>
      </aside>
    </div>
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body px-4 pb-4 tab-content">
          <!-- Tab -->
          <section>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
<!--                {% if widget.value != None %}-->
<!--                value="{{ widget.value|stringformat:'s' }}"-->
<!--                {% endif %}-->
<!--                <input type="submit" class="btn btn-info" value="Сохранить">-->
                <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Сохранить</button>
              </form>
          </section>
          <!-- END Tab -->
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}