<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Джуманджи</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">

          <div class="text-center mt-5 b-1">
            <a href="{% url 'main' %}" style="text-decoration: none; color: black">
                <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
            </a>
            <p class="h5 font-weight-light">Создайте аккаунт</p>
          </div>

          <form method="post" action="signup">{% csrf_token %}
              {% for field in form %}
              <p>{{ field.label }}</p>
              <p>{{ field }}</p>
              {% endfor %}
              <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Зарегистрироваться</button>
          </form>

<!--          <form method="post" action="signup" class="mt-5 pt-4">-->
<!--              {% csrf_token %}-->
<!--              {% for field in form %}-->
<!--              <p>{{ field.label }}:</p>-->
<!--              <p>{{ field }}</p>-->
<!--              {% endfor %}-->
<!--              <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">Зарегистрироваться</button>-->
<!--          </form>-->

         <div class="mt-4 text-center"><p>Есть аккаунт? <a href="{% url 'login' %}">Войдите!</a></p></div>

      </div>
    </div>
  </main>
</body>
</html>